<div class="container margenes">
    <div class="row">
        <div class="col">
            <h3>Agregar una nueva novedad completando todos los campos</h3>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">
                    <label for="" class="form-label">Dia</label>
                    <input type="text" class="form-control" name="dia">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Mañana</label>
                    <textarea class="form-control" name="manana" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tarde</label>
                    <textarea class="form-control" name="tarde" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Noche</label>
                    <textarea class="form-control" name="noche" rows="3"></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                </div>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>