<table>
    <thead>
        <tr>
            <th scope="col">DIA</th>
            <th scope="col">MAÑANA</th>
            <th scope="col">TARDE</th>
            <th scope="col">NOCHE</th>
        </tr>
    </thead>
    <tbody>
        {{#each novedades}}
        <tr>
            <th scope="row">{{dia}}</th>
            <td>{{manana}}</td>
            <td>{{tarde}}</td>
            <td>{{noche}}</td>
        </tr>

        {{/each}}
       
    </tbody>
</table>