<table>
    <thead>
        <tr>
            <th scope="col">DIA</th>
            <th scope="col">MAÑANA</th>
            <th scope="col">TARDE</th>
            <th scope="col">NOCHE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">LUNES</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
        <tr>
            <th scope="row">MARTES</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>

        <tr>
            <th scope="row">MIERCOLES</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
        <tr>
            <th scope="row">JUEVES</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
        <tr>
            <th scope="row">VIERNES</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
        <tr>
            <th scope="row">SABADO</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
        <tr>
            <th scope="row">DOMINGO</th>
            <td>XXXXX</td>
            <td>XXXXX</td>
            <td>XXXXX</td>
        </tr>
    </tbody>
</table>