<div class="contacto">
    <div class="mansaje">
        <h2>Deje su Mensaje</h2>
        <form action="/contacto" method="post" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="" style="margin: 8px;">E-mail</label>
                <input type="email" name="email" required>
            </p>
            <p>
                <label for="">Telefono</label>
                <input type="text" name="tel">
            </p>
            <p>
                <label class="altura-mensaje" for="">Mensaje</label>
                <textarea name="comentarios" id=""> </textarea>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>

        </form>
        <p>{{message}}</p>
    </div>
    <div class="datos">
        <h2>Otras vias de Comunicación</h2>

        <ul>
            <li>Riglos 135 - C.A.B.A</li>
            <li>Tel: 4901-9840 // 4904-0184</li>
            <li><a href="mailto:info@geriatricoriglos.com.ar">info@geriatricoriglos.com.ar</a></li>

        </ul>

    </div>
</div>