 <div class="fondo">
            <h2>Fotos</h2>
            <div class="foto">
                <div class="img1"><img src="./images/01.jpg" alt="abuelos"></div>
                <div class="img1"><img src="./images/02.jpg" alt="abuelos"></div>
                <div class="img1"><img src="./images/05.jpg" alt="abuelos"></div>
                <div class="img1"><img src="./images/03.jpg" alt="abuelos"></div>
                <div class="img1"><img src="./images/06.jpg" alt="abuelos"></div>
                <div class="img1"><img src="./images/07.jpg" alt="abuelos"></div>
            </div>
        </div>