<div class="fondo">
            <h2>Nuestro Equipo</h2>
            <div class="foto2">
                <div>
                    <img src="./images/equipo.jpg" alt="abuelos">
                </div>

            </div>
        </div>