<div class="fondo2">
            <h2>Quienes Somos</h2>
            <p>Somos médicos con más de 50 años de profesión, dedicados a la geriatría desde el año 1982, con una vasta experiencia reflejada en este, nuestro Instituto, donde la difícil decisión que conlleva a la internación del ser querido, obtendrá la contención y las respuestas que nuestro especializado personal y cuerpo profesional es capaz de dar.</p>
        </div>